html {
    font-size: 62.5%;
    text-align: center;
}

* {
    box-sizing: border-box;
}

header {
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 2rem;
    font-size: 7rem;
}

select {
    padding: 0.5rem;
    margin: 1rem;
    border: 0.2rem solid #f52828;
    outline: none;
    border-radius: 0.3rem;
    width: 10rem;
}

button {
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1.5rem;
    background-color: #e23333;
    border: 0.2rem solid #e23333;
    border-radius: 3px;
    box-shadow: 1px 2px 1px 1px #574e4675;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #f52828;
    border: 0.2rem solid #f52828;
}

label {
    width: 30rem;
    font-size: 1.5rem;
}

form {
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 7rem;
}

.description p {
    font-size: 1.4rem;
}

.description {
    padding: 3rem;
    padding-top: 1rem;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto;
}

.selection {
    text-align: left;
    margin: auto;
    width: fit-content;
}

.selection label {
    display: inline-block;
    width: 10rem;
    text-align: left;
}

h2 {
    font-size: 2rem;
}

hr {
    max-width: 50rem;
}